language: c
dist: xenial
compiler:
  - clang
  - gcc

env:
- BUILD_TYPE=postgresql
- BUILD_TYPE=mysql

before_script:
- sudo apt-get update -qq
- sudo apt-get install build-essential make libpcre2-dev 
- if [[ "${BUILD_TYPE}" == "postgresql"  ]]; then ( sudo apt-get install libpq-dev ); fi
- if [[ "${BUILD_TYPE}" == "mysql"  ]]; then ( sudo apt-get install libmysqlclient-dev ); fi

script:
- if [[ "${BUILD_TYPE}" == "postgresql"  ]]; then (cd src && make postgresql); fi
- if [[ "${BUILD_TYPE}" == "mysql"  ]]; then (cd src && make mysql); fi

